{% extends "encyclopedia/layout.html" %}

{% block title %}
Cybersecurity website
{% endblock %}

{% block body %}
<h1>Password Strength Checker</h1>

<h3>Tips to improve your password strength</h3>
- Vary the types of characters: Add more special characters, numbers, and mix upper upper and lower case letters
<br>
- Increase the length- This increases how hard it is for you to remember by a linear factor, but makes it exponentially harder for someone else to crack


Enter the password you want to test: <input type="text" id="pswd">
<button onclick="myFunction()">Test Password</button>

<h2>  On the average supercomputer, it will take </h2>
<h3 id="y">--- Years</h3> 
<h3 id="m">--- Months</h3> 
<h3 id="d">--- Days</h3> 
<h3 id="h">--- Hours</h3> 
<h3 id="mi">--- Minutes</h3> 
<h3 id="s">--- Seconds</h3> 
<h2>To crack this password</h2>


<h3>However, it might get cracked a lot sooner if it happens to be on <a href="https://en.wikipedia.org/wiki/Wikipedia:10,000_most_common_passwords">This</a> list</h3>


{% endblock %}

